<?xml version="1.0" encoding="utf-8"?>

<!-- 有關使用 web.config 轉換的詳細資訊，請造訪 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下面的範例中，"SetAttributes" 轉換只會在 "Match" 定位程式找到
    值為 "MyDB" 的屬性 "name" 時，才將 "connectionString" 的值變
    更為使用 "ReleaseSQLServer"。
    -->
  <connectionStrings>
    <add name="WorkshopEntities"
         connectionString="metadata=res://*/Models.Workshop.csdl|res://*/Models.Workshop.ssdl|res://*/Models.Workshop.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:hihhhftgtf.database.windows.net,1433;Database=twMVCWorkshop;User ID=twmvc_wuanunet@hihhhftgtf;Password=Wuanu@71128487;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;"
         providerName="System.Data.EntityClient"
         xdt:Locator="Match(name)"
         xdt:Transform="SetAttributes" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
          在下面的範例中，"Replace" 轉換將會取代 Web.config 檔案
          的整個 <customErrors> 區段。
          請注意，因為在 <system.web> 節點之下 
          只有一個 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
          <customErrors defaultRedirect="GenericError.htm"
            mode="RemoteOnly" xdt:Transform="Replace">
            <error statusCode="500" redirect="InternalError.htm"/>
          </customErrors>
        -->
  </system.web>
</configuration>