@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "錯誤";
}

<hr />
<div class="row-fluid">
    <div class="span3">
        <img src="~/Images/warning.png" width="120px" />
    </div>
    <div class="span9">
        <hgroup class="title">
            <h1 class="error">錯誤。</h1>
            <h2 class="error">處理您的要求時發生錯誤。</h2>
        </hgroup>
    </div>
</div>

