@{
    ViewBag.Title = "錯誤";
}
<hr />
<div class="row-fluid">
    <div class="span3">
        <img src="~/Images/404.jpg" width="200px" />
    </div>
    <div class="span9">
        <hgroup class="title">
            <h1 class="error">錯誤。</h1>
            <h2 class="error">@ViewData["Description"]</h2>
        </hgroup>
    </div>
</div>

